.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    list-style: none;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    padding: 5px 10px;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.navbar ul li {
    cursor: pointer;
    border-radius: 8px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li:hover {
    background-color: #ececf4;
}

.navbar ul li.selected {
    background-color: #e0dfff;
}